.mini-text{
	font-size: 30px;
	font-family: 'Satisfy', cursive, sans-serif;
}

.main-box{
	/*margin-left: 25px;*/
}
.intro-text {
	text-transform: uppercase;
	font-size: 45px;
	font-family: sans-serif;
	font-weight: bold;
}

.hello-textes .about-text {
	font-weight: lighter;
}

.about-text{
	/*position: absolute;*/
	font-size: 20px;
	font-weight: lighter;
	/*width: 450px;*/
	max-width: 500px;
	font-family: 'Satisfy', cursive, sans-serif;
}

.about-text-sub {
	width: 70%;
	float: left;
}

.profil-img {
	width: 26%;
	height: 26%;
	float: left;
	margin-left: 10px;
}

.about-me{
	font-family: 'Satisfy', cursive, sans-serif;
	color: black;
	bottom: 0;
	left: 0;
	top: 0px;
	right: 0;
	font-size: 80px;
	margin: 25px;
}

.XXall-info {
	bottom: 0;
	left: 0;
	top: 0px;
	right: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 100px;
}

i{
font-size: 20px;
padding: 4px;
}

.socialmedia-bar{
margin: 2px;
}

a .fab.fa-spotify{
	color: #1db954;
}

a .fab.fa-linkedin{
	color: #0077B5;
}

a .far.fa-envelope{
	color: black;
}

.fas.fa-mobile-alt{
	color: tomato;
}

/* MOBILE-SIZE */
@media (max-width: 600px) {

		.mini-text{
		font-size: 16px;
		}

.about-text{
	width: 100%;
margin: 0;
}

.intro-text{
	font-size: 20px;
}
.div-textes{
	margin: auto;
	margin-left: auto;
	width: auto;
}
.profil-img{
	width: 50%;
	height: 50%;
	position: absolute;
}
}

/* TABLETS-SIZE */
@media (min-width: 600px) and (max-width: 900px){
	.mini-text{
	font-size: 16px;
	}

.intro-text{
font-size: 20px;
}
.div-textes{
margin: auto;
margin-left: auto;
width: auto;
}

.profil-img{
	width: 150px;
	height: 150px;
}
}
