.mini-text{
	font-size: 30px;
	font-family: 'Satisfy', cursive, sans-serif;
}

.intro-text {
	text-transform: uppercase;
	font-size: 60px;
	font-family: sans-serif;
	font-weight: bold;
}

.hello-textes .about-text {
	font-weight: lighter;
}

.about-text{
	position: absolute;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	width: 450px;
	font-family: 'Satisfy', cursive, sans-serif;
}

.profil-img {
	margin-left: 600px;
	width: 600px;
	height: 600px;
	margin-top: 70px;
}

.about-me{
	font-family: 'Satisfy', cursive, sans-serif;
	color: black;
	bottom: 0;
	left: 0;
	top: 0px;
	right: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 80px;
	margin: 25px;
}

.all-info {
	bottom: 0;
	left: 0;
	top: 0px;
	right: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 100px;
}

i{
font-size: 20px;
padding: 2px;
}

.socialmedia-bar{
margin: 2px;
}

a .fab.fa-spotify{
	color: #1db954;
}

a .fab.fa-linkedin{
	color: #0077B5;
}

a .far.fa-envelope{
	color: black;
}

.fas.fa-mobile-alt{
	color: tomato;
}

.my-phonnumber{
	display: none;
}
