.contactme-text {
	text-transform: uppercase;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	width: 600px;
	position: absolute;
	font-family: sans-serif;
}

address {
	font-size: 20px;
		font-family: 'Satisfy', cursive, sans-serif;
		color: black;
}

address a {
	color: white;
	background: black;
	padding: 6px;
	margin: 4px;
}


.num {
	width: 0px;
	height: 20px;
	background: white;
	-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
	overflow: hidden;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: 27px;
	left: 100px;
	padding: 0px;
}

.socialmedia-bar{
	position:relative;

}
.fas:hover + .num, .phoneshow:hover + .num {
    width: 100px;
}
