.mini-text{
	font-size: 30px;
	font-family: 'Satisfy', cursive, sans-serif;
}

.contactme-text {
	text-transform: uppercase;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	/* width: 600px; */
}

.contact-text-sub {
	width: 70%;
	float: left;
}


i{
font-size: 20px;
padding: 4px;
}

.socialmedia-bar{
margin: 2px;
}

a .fab.fa-spotify{
	color: #1db954;
}

a .fab.fa-linkedin{
	color: #0077B5;
}

a .far.fa-envelope{
	color: black;
}

.fas.fa-mobile-alt{
	color: tomato;
}

address {
	font-size: 20px;
		font-family: 'Satisfy', cursive, sans-serif;
		color: black;
}

address a {
	color: white;
	background: black;
	padding: 6px;
	margin: 4px;
}

span {
	position: absolute;
	font-family: sans-serif;
	text-transform: uppercase;
}

.num {
	width: 0px;
	height: 20px;
	background: white;
	-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
	overflow: hidden;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: 27px;
	left: 100px;
	padding: 0px;
}

.socialmedia-bar{
	position:relative;

}
.fas:hover + .num, .phoneshow:hover + .num {
    width: 100px;
}

/* MOBILE-SIZE */
@media (max-width: 600px) {

	.mini-text{
		font-size: 15px;
	}

	.contactme-text{
		width: 100%;
		margin: 0;
		font-size: 25px;
	}

	.div-textes{
		margin: auto;
		margin-left: auto;
		width: auto;
	}

	/* TABLETS-SIZE */
	@media (min-width: 600px) and (max-width: 900px){
		.mini-text{
		font-size: 30px;
		}

		.contactme-text{
			width: 100%;
			margin: 0;
		}

		.div-textes{
			margin: auto;
			margin-left: auto;
			width: auto;
		}
	}
	}
